{% include head.html %}
{% include sidebar.html %}

<!-- main -->
<main>
    <!-- content -->
    <section class="content">
        {{content}}
    </section>
    <!-- /content -->

    <!-- sidebar -->
    <aside>
        <!-- mod-widget categories -->
        <div class="mod-post-toc">
        </div>
        <!-- /mod-widget categories -->
    </aside>
    <!-- /sidebar -->

</main>
<!-- /main -->

<!-- JS loading categories -->
<script type="text/javascript" src="{{ "/js/categories.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $('.mod-post-toc').categories();
    });
</script>
<!-- /JS loading categories -->

{% include footer.html %}
